*{
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2;
    color: #555;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #ff99cc;
    padding: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
#btn{
background-color: #ff66a3;
color: white;
border: none;
padding: 12px 20px;
font-size: 18px;
border-radius: 8px;
margin: 15px;
cursor: pointer;
transition: 0.3s;
height: 300px;
width: 100px;
}


main{
    width: 35vw;
    height: 25vh;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.text{
    margin-bottom: 10%;
}
.pad{
    padding: 3%;
}